In [20]:
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

## business Case Study

#### Loyality_Percentage--->100%--->Loyal
#### Loyality_Percentage---->95%--->potential Loyal
#### Loyality_Percentage---->NaN----->no growth
#### Loyality_Percentage---->0%----->not Loyal
#### Loyality_Percentage---->50 to 90%----->moderate Loyal
#### Loyality_Percentage---->1 to 49%----->Less Loyal
#### for other mark as Not Of anyuse
#### ON top  of df_new apply group by for each group from above  and show how many brokers are there

<!-- df_new['Loyalty_Percentage']=(df_new['firm_sales']/df_new['global_sales'])*100 -->

In [21]:
df=pd.read_excel(r"C:\Users\v-smahale\OneDrive - Microsoft\Desktop\BigData\Dataset\Hive-Class-main\Hive-Class-main\investment_banking.xlsx")

In [22]:
df_new=df.groupby(['broker_id']).agg({'firm_sales':'sum','global_sales':'sum'}).reset_index()

In [23]:
df_new['Loyalty_Percentage']=(df_new['firm_sales']/df_new['global_sales'])*100

In [24]:
df_new.sort_values(by='Loyalty_Percentage',ascending=False)

      broker_id  firm_sales  global_sales  Loyalty_Percentage
42    BRXX-1036      245.76        245.76          100.000000
8     BRXX-1005       77.23         77.23          100.000000
23    BRXX-1019     5571.97       5571.97          100.000000
621    BRXX-498    13042.03      13042.03          100.000000
858    BRXX-710    27438.30      27627.97           99.313486
...         ...         ...           ...                 ...
1165   BRXX-988        0.00          0.00                 NaN
1166   BRXX-989        0.00          0.00                 NaN
1169   BRXX-991        0.00          0.00                 NaN
1172   BRXX-994        0.00          0.00                 NaN
1176   BRXX-998        0.00          0.00                 NaN

[1178 rows x 4 columns]

In [25]:
def loyalty_check(Loyal_Per):
    if Loyal_Per==100:
        return 'Loyal'
    elif Loyal_Per >=95 and Loyal_Per < 100:
        return 'Potential_loyal'
    elif pd.isna(Loyal_Per):
        return 'No Growth'
    elif Loyal_Per==0:
        return 'Not Loyal'
    elif Loyal_Per>=50 and Loyal_Per<=90:
        return 'Moderate Loyal'
    elif Loyal_Per>=1 and Loyal_Per<=49:
        return 'Less  Loyal'
    else:
        return 'Not of AnyUse'

In [26]:
df_new['CustomerLoyaltyCategory']=df_new['Loyalty_Percentage'].apply(loyalty_check)

In [27]:
df_new.sort_values(by='Loyalty_Percentage',ascending=False).head(10)

,broker_id,firm_sales,global_sales,Loyalty_Percentage,CustomerLoyaltyCategory
42,BRXX-1036,245.76,245.76,100.000000,Loyal
8,BRXX-1005,77.23,77.23,100.000000,Loyal
23,BRXX-1019,5571.97,5571.97,100.000000,Loyal
621,BRXX-498,13042.03,13042.03,100.000000,Loyal
858,BRXX-710,27438.30,27627.97,99.313486,Potential_loyal
895,BRXX-744,4352339.58,4389608.62,99.150971,Potential_loyal
137,BRXX-1121,754618.93,775703.36,97.281895,Potential_loyal
335,BRXX-24,15800032.61,16787455.29,94.118092,Not of AnyUse
1118,BRXX-945,25429.96,27142.96,93.688971,Not of AnyUse
287,BRXX-197,1000213.01,1203312.21,83.121654,Moderate Loyal

In [28]:
df_new.groupby(['CustomerLoyaltyCategory']).agg({'broker_id':'count','firm_sales':'first','global_sales':'first','Loyalty_Percentage':'first'}).reset_index()

,CustomerLoyaltyCategory,broker_id,firm_sales,global_sales,Loyalty_Percentage
0,Less Loyal,223,11157673.73,1.066317e+08,10.463750
1,Loyal,4,77.23,7.723000e+01,100.000000
2,Moderate Loyal,7,50351.62,6.116462e+04,82.321479
3,No Growth,166,0.00,0.000000e+00,NaN
4,Not Loyal,686,0.00,7.483650e+05,0.000000
5,Not of AnyUse,89,970882.96,3.672245e+08,0.264384
6,Potential_loyal,3,754618.93,7.757034e+05,97.281895

In [ ]:
## df_new['LoyaltyBase_NumberOfBroker']=df_new.groupby(['CustomerLoyaltyCategory'])['broker_id'].transform('count')

In [18]:
#above also we can use to achieve the same 
#df_new.groupby(['CustomerLoyaltyCategory']).agg({'firm_sales':'first','global_sales':'first','Loyalty_Percentage':'first','LoyaltyBase_NumberOfBroker':'first'}).reset_index()

,CustomerLoyaltyCategory,firm_sales,global_sales,Loyalty_Percentage,LoyaltyBase_NumberOfBroker
0,Less Loyal,11157673.73,1.066317e+08,10.463750,223
1,Loyal,77.23,7.723000e+01,100.000000,4
2,Moderate Loyal,50351.62,6.116462e+04,82.321479,7
3,No Growth,0.00,0.000000e+00,NaN,166
4,Not Loyal,0.00,7.483650e+05,0.000000,686
5,Not of AnyUse,970882.96,3.672245e+08,0.264384,89
6,Potential_loyal,754618.93,7.757034e+05,97.281895,3